/* This is the basic border style on which other border styles are based. */

body { background : #333355 }
a:link { color: #000099; background: transparent }
a:visited { color: #333399; background: transparent }
a.title:link { color: #669999; background: transparent; text-decoration: none }
a.title:visited { color: #336666; background: transparent; text-decoration: none }
a.mecw:link {color: #aaaaaa; background: transparent; text-decoration: none }
a.mecw:visited {color: #999999; background: transparent; text-decoration: none }

/* For the border effect */

div.border {
	border-style: double;
	background: #ffffff; 
	width: 90%; 
	padding: 1em; 
	border: 0.5em solid #999999;
	}

	/* Basic p */

p {
 text-indent: 1em;
 font-family: "Georgia", "Times New Roman", serif;
 font-size: 12pt;
 text-align: justify;
 line-height: 150%;
 margin-left: 6%;
 margin-right: 6%;
 }

/* Path to the document */

p.title { 
 color: #999999;
 text-indent: 0em;
 font-weight: bold;
 text-align: left;
 margin: 1%;
 font-family : "Arial", sans-serif;
 font-size: 9pt;  
 }



img.right { float: right; margin: 2em; }
img.left { float: left; margin: 2em; }


hr.section { width: 44%; height: 4px; color: #000000; }
hr.base { width: 92%; height: 1px; color: #000000; }
hr.end { width: 92%; height: 2px; color: #000000; }
hr { width: 94%; height: 2px; color: #000000; }

em { word-spacing: 0.2em }

blockquote { margin-left: 5%; margin-right: 5% }


/* =====================================*/

/* Document Headers					    */

/* =====================================*/



/* Document Title */

H1 {

 background: transparent;
 color: #000033;
 font-weight: bold; 
 font-size: 36pt; 
 font-family: "Georgia",  "Times New Roman", serif;
 text-align: center; 
 margin-left: 6%;
 margin-right: 6%;
 }

H1.big {font-size: 28pt }


/* Authors' name */

H2 { 
 background: transparent;
 color: #000000;
 font-weight: bold; 
 font-size: large; 
 line-height: 150%;
 font-family: "Helvetica", "Arial", sans-serif;
 text-align: center; 
 }

/* Chapter Title */

H3 {
 background: transparent;
 color: #000000; 
 font-weight: bold;
 text-align: center;
 font-family : "Georgia",  "Times New Roman", serif;
 font-size: 22pt; 
 line-height: 150%;
 margin-left: 6%;
 margin-right: 6%;
 }

 /* Section Title */

H4 {
 background: transparent;
 color: #000000; 
 font-weight: bold;
 text-align: center;
 font-family : "Arial", sans-serif;
 font-size: 14pt;  
 line-height: 150%;
 margin-left: 6%;
 margin-right: 6%;
 }

 /* Sub Section 2 */

H5 {
 background: transparent;
 color: #000000; 
 font-weight: bold;
 text-align: center;
 font-family : "Arial", sans-serif;
 font-size: 12pt;  
 line-height: 175%;
 margin-left: 6%;
 margin-right: 6%;
 }

 /* Sub Section 3 */

H6 {
 background: transparent;
 color: #000000; 
 font-weight: bold;
 text-align: left;
 font-family : "Arial", sans-serif;
 font-size: 12pt;  
 line-height: 175%;
 margin-left: 6%;
 margin-right: 6%;
 }

H7 {
 color: #000000; 
 font-weight: normal;
 text-align: left;
 font-family : "Times New Roman", serif;
 font-size: 12pt;  
 line-height: 150%;
 margin-left: 6%;
 margin-right: 6%;
 }


/* ~~~~~~~ Footnote References~~~~~~~~ */

sup {
 background: transparent;
 color: #000000; 
 font-family : "Arial", monospace;
 font-size: x-small;
 font-weight: normal;
 text-decoration: none;
 }

 sub {
 background: transparent;
 color: #000000; 
 font-family : "Arial", monospace;
 font-size: x-small;
 font-weight: normal;
 text-decoration: none;
 }

/* Author's */

sup.anote {
 font-family : "Times", serif;
 font-size: x-small;
 font-weight: bold;
 }

 /* Editor's */

sup.ednote {
 font-family : "Courier New", monospace;
 }

 /* Either */
 
sup.enote {
 color: #003300; 
 font-size: 10pt;
 }


/* =====================================*/

/* Spanners							    */

/* =====================================*/

/* Editorial notes in text */

span.inote {
 color: #666666; 
 font-family : "Georgia", "Times New Roman", serif;
 font-size: 12pt;
 }


/* Used in the info block */

span.info {
 background: transparent;
 color: #000000; 
 font-family: "Arial", sans-serif;
 font-size: 12pt;
 font-weight: bold;
}

/* indiscreet text (primarily for dates) */

span.date {
 background: transparent;
 color: #333333;
 font-family: "Arial", sans-serif;
 font-size: small;
 font-weight: normal;
 }

span.note {
 color: #000000; 
 font-size: 10pt;
 vertical-align: top;
 }

span.term {
 color: #000000; 
 font-family : "Arial", sans-serif;
 font-size: 12pt;
 font-weight: bold;
}

span.book {
 color: #000088; 
 font-family : "Arial", sans-serif;
 font-weight: bold;
}


/* abstracts */

span.context {  background: transparent; color: #999999 }

/*Greek text */

span.greek { font-family: symbol }


 /* Basic p -- without first line indent */

p.fst {
 text-indent: 0em;
 }

/* Quote with or without first line indent */

p.quote { 
 font-size: 10pt;
 line-height: 125%;
 text-align: justify;
 margin-left: 12%;
 margin-right: 12%;
}

p.quoteb { 
 text-indent: 0em;
 font-size: 10pt;
 margin-left: 12%;
 margin-right: 12%;
}

/* Sub Quote C (increased margin) */

p.quotec { 
 text-indent: 0em;
 font-size: 10pt;
 margin-left: 16%;
 margin-right: 16%;
}

/* Negative indent for number list */

p.quote-list { 
 text-indent: -1em;
 font-size: 10pt;
 margin-left: 14%;
 margin-right: 14%;
}

/* Endnotes */

p.endnote
 { 
 font-size: 11pt;
 line-height: 115%;
 margin-left: 10%;
 margin-right: 10%;
}

/* Citation (Quote cited) */

p.inline {
 background: transparent;
 color: #666666; 
 text-indent: 0em;
 font-family : "Arial", sans-serif;
 font-size: x-small;
 text-align: right;
 margin-left: 20%;
 margin-right: 8%;
 }

p.transcriber {
 color: #666666; 
 text-indent: 0em;
 font-family : "Arial";
 font-size: 8pt;
 text-align: right;
 margin-left: 24%;
 margin-right: 9%;
 }

p.updat { 
 color: #666666;
 text-indent: 0em;
 font-weight: bold;
 text-align: right;
 font-family: "Arial", sans-serif;
 font-size: 9pt;  
 }
 
/*----------------------------------*/

/* Index elements 					*/

/*----------------------------------*/



/* Table of Contents */

p.toc {
 text-indent: 0em;
 font-weight: bold;
 font-family : "Helvetica", "Arial", sans-serif;
 line-height: 120%;
 text-align: left;
 margin-left: 7%;
 margin-right: 7%;
}

p.index { 
 text-indent: 0em;
 font-weight: bold;
 font-family : "Helvetica", "Arial", sans-serif;
 line-height: 200%;
 text-align: left;
 margin-left: 9%;
 margin-right: 9%;
}

/*----------------------------------*/

/* Indented Text                    */

/*----------------------------------*/



/* Standard Indent */

p.indent { 
 margin-left: 12%;
 margin-right: 12%;
}



/* Indent without first line indent */

p.indentb { 
 text-indent: 0em;
 margin-left: 12%;
 margin-right: 12%;
}

/* Sub Indent C (increased margin) */

p.indentc { 
 text-indent: 0em;
 margin-left: 16%;
 margin-right: 16%;
}



/* Negative indent for number list */

p.indent-list { 
 text-indent: -1em;
 text-align: left;
 margin-left: 12%;
 margin-right: 12%;
}

ul.disc { 
 font-family: "Georgia", serif;
 font-size: 12pt;
 list-style-type: disc; 
 text-align: left;
 line-height: 130%;
 margin-left: 6%;
 margin-right: 6%;
}

ol.numbered { 
 font-family: "Georgia", serif;
 font-size: 12pt;
 list-style-type: decimal; 
 text-align: left;
 line-height: 130%;
 margin-left: 6%;
 margin-right: 6%;
}


/* Document Bibliographical Informaiton */

p.information { 
 color: #000000; 
 text-indent: 0em; 
 line-height: 125%;
 text-align: left;
 margin-right: 8%; 
 margin-left: 8% 
 }



/* Signature */

p.sig {  
 text-indent: 0em; 
 font-family : "Vivaldi", "Lucida Handwriting", "Brush Script MT", script, serif;
 font-weight: bold;
 font-style: italic;
 line-height: 125%;
 text-align: left; 
 margin-left: 8% 
 }

  

 

/* Misc page note */

p.pagenote {
 color: #000000; 
 font-family : "Arial", sans-serif;
 font-size: x-small;
 text-align: center;
 }

 /* Misc page note (justified) */

p.pagenoteb {
 color: #666666; 
 font-family : "Arial", sans-serif;
 font-size: x-small;
 text-align: justify;
 line-height: 115%;
 margin-left: 10%;
 margin-right: 10%;
 }

 

/* For blank spaces */

p.skip { line-height: 75% }

 

 

/*----------------------------------*/

/* Page-ending elements             */

/*----------------------------------*/



/* Next Section-Chapter of work */

p.next { 
 text-indent: 0em;
 font-family : "Arial", sans-serif;
 font-size: 14pt;
 font-weight: bold;
 text-align: center;
 line-height: 125%;
 }

 

/* Page bottom links */

p.footer {  
 text-indent: 0em; 
 font-weight: bold;
 font-family : "Arial", sans-serif;
 text-align: center; 
 margin: 3%;
 }


/*----------------------------------*/

/* Table elements 					*/

/*----------------------------------*/

 td {
 text-indent: 0em;
 color: #000000; 
 vertical-align: top;
 text-align: left;
 line-height: 115%;
 margin-left: 2%;
 margin-right: 2%;
 } 

/* -- For Numbered Data -- */

table.data {
 background: #eeeeee;
 font-family: "Times", monospace;
 font-size: 10pt;
 }



/* Column Headings */ 

td.head {
 background: #999999;
 font-weight: bold;
 text-align: center;
 font-size: 12pt;
 }



/* Row Colors */

tr.alt { background: #cccccc; }
tr.total { background: #ffcccc; }
tr.totalb { background: #ff9999; }





/* -- For Book Indexes -- */

td.index {
 background: #efefef;
 color: #999999; 
 text-indent: 0em;
 font-family : "Helvetica", "Arial", sans-serif;
 font-size: 12pt;
 font-weight: bold;
 text-align: left;
 }

 

/* Every alternate row */

td.index-alt {
 background: #ffffff;
 color: #999999; 
 text-indent: 0em;
 font-family : "Helvetica", "Arial", sans-serif;
 font-size: 12pt;
 font-weight: bold;
 text-align: left;
 }

 

/* Sub-Chapters */

td.indexb {
 background: #ffffff;
 color: #999999; 
 text-indent: 0em;
 font-family : "Helvetica", "Arial", sans-serif;
 font-size: 10pt;
 font-weight: normal;
 text-align: left;
 }


/* Describes the chapter (as seen in the History, Subject indexes, etc) */

td.note {
 background: #ffffff;
 color: #444444; 
 font-family : "Arial", sans-serif;
 font-size: small;
 vertical-align: top;
 text-align: justify;
 line-height: 115%;
 margin-left: 10%;
 margin-right: 10%;
 }

td.text {
 text-indent: 0em;
 font-family : "Georgia", "Times", serif;
 font-size: 12pt;
 font-weight: normal;
 text-align: left;
 vertical-align: top;
 }
 
td.data {
 text-indent: 0em;
 font-family : "Georgia", "Times", serif;
 font-size: 12pt;
 font-weight: normal;
 text-align: right;
 vertical-align: top;
 }
 
td.small {
 text-indent: 0em;
 font-family : "Georgia", "Times", serif;
 font-size: 10pt;
 font-weight: normal;
 text-align: left;
 vertical-align: top;
 }
 
td.sdata {
 text-indent: 0em;
 font-family : "Georgia", "Times", serif;
 font-size: 10pt;
 font-weight: normal;
 text-align: right;
 vertical-align: top;
 }
 


/* =====================================*/
/* Adjustments for Mobile Devices       */
/* =====================================*/

@media (max-width: 480px) {
  p { font-size: 12pt; margin-left: 1%; margin-right: 1%; margin-bottom: 4pt; margin-top: 4pt; line-height: 125% }
  blockquote {margin-left: 1%; margin-right: 1%; }
  p.title { font-size: 11pt; }
  p.indentb { margin-left: 6%; margin-right: 1%; }
  p.quoteb { margin-left: 6%; margin-right: 1%; }
  p.index { margin-left: 6%; margin-right: 1%; }
  h1 { font-size: 16pt; margin-left: 6%; margin-right: 1%;  }
  h2 { font-size: 15pt; margin-left: 6%; margin-right: 1%;  }
  h3 { font-size: 14pt; margin-left: 6%; margin-right: 1%;  }
  h4 { font-size: 13pt; margin-left: 6%; margin-right: 1%;  }
  h5 { margin-left: 1%; margin-left: 6%; margin-right: 1%;  }
  h6 { margin-left: 1%; margin-left: 6%; margin-right: 1%;  }
  h7 { margin-left: 1%; margin-left: 6%; margin-right: 1%;  }
  img { width: 150px; height: auto; }
  img.auto {width: auto ; height: auto; }
  div.border { width: 93%; padding: 0.5em; border: 0.2em solid #999999; }
}
