@import url("border.css");

body { background: #003300 }
a:link { color: #003300 }
a:visited { color: ##00330 }
a.title:link { color: #ff0033 }
a.title:visited { color: #eecc66 }

div.border {
	width: 93%; 
	border: 0.5em solid #cc0000;
	}

p.title { color: #f0f000 }
p.toc { color: #003300 }
p.information { color: #660000 }
p.pagenote { color: #003300 }

H1 {color: #000000 }
H2 {color: #000000; font-size: 25pt }
H3  {color: #003300 }
H4  {color: #003300 }
H5  {color: #003300; font-size: 14pt }
H6  {color: #003300 }

hr.section { color: #003300 }
hr.base { color: #000000 }
hr.end { color: #003300 }
hr { color: #003300 }

sup.anote { color: #003300; font-size: small }
sup.ednote { color: #003300 }

span.info { color: #660000 }
span.term { color: #003300 }

@media (max-width: 480px) {
  div.border { width: 95%; padding: 0.5em; 
  border: 0.2em solid #eecc00; }
}
