@import url("border.css");

body {
  background: #000066;
}

a:link {
  color: #000099;
}

a:visited {
  color: #333399;
}

a.title:link {
  color: #669999;
}

a.title:visited {
  color: #336666;
}

a.mecw:link {
  color: #888888;
}

a.mecw:visited {
  color: #999999;
}

div.border {
  border-color: #99bb99;
}

h1,
h1.big,
h1.medium,
h2,
h3,
h4,
h5,
h6,
hr.section,
hr.end,
hr,
p.information,
p.pagenote,
p.toc,
p.updat,
span.info,
span.note,
span.term,
sup.anote,
sup.ednote,
sup.enote {
  color: #000033;
}

hr.base {
  color: #000000;
}

p.title {
  color: #669999;
}
