@import url("border.css");

body {
  background: #555588;
}

a:link {
  color: #0000aa;
}

a:visited {
  color: #3333aa;
}

a.title:link {
  color: #00ccff;
}

a.title:visited {
  color: #0099ff;
}

a.mecw:link {
  color: #888888;
}

a.mecw:visited {
  color: #999999;
}

div.border {
  border-color: #ffffbb;
}

h1,
h1.big,
h1.medium,
h2,
h3,
h4,
hr.end,
hr,
p.information,
p.pagenote,
p.toc,
span.info,
span.note,
span.term,
sup.anote,
sup.ednote,
sup.enote {
  color: #000066;
}

h5,
h6 {
  color: #000077;
}

hr.base {
  color: #000000;
}

hr.section,
hr.end,
hr {
  color: #660000;
}

p.title,
p.updat {
  color: #ffffbb;
}
