@import url("border.css");

body {
  background: #000000;
}

a:link {
  color: #AA0000;
}

a:visited {
  color: #993333;
}

a.title:link {
  color: #FFCC00;
}

a.title:visited {
  color: #CC9900;
}

a.mecw:link {
  color: #888888;
}

a.mecw:visited {
  color: #999999;
}

div.border {
  border-color: #660000;
}

h1,
h1.big,
h1.medium,
h2,
p.information,
p.pagenote,
p.toc,
span.info,
span.term,
sup.anote,
sup.ednote,
sup.enote {
  color: #660000;
}

h3,
h4,
h5,
h6 {
  color: #770000;
}

hr.section,
hr.end,
hr {
  color: #660000;
}

hr.base {
  color: #000000;
}

p.title {
  color: #aa0000;
}

p.updat {
 color: #ffcc00;
}
