@import url("border.css");

body {
  background: #003300;
}

a:link {
  color: #006600;
}

a:visited {
  color: #336699;
}

a.title:link {
  color: #669999;
}

a.title:visited {
  color: #336666;
}

a.mecw:link {
  color: #888888;
}

a.mecw:visited {
  color: #999999;
}

div.border {
  border-color: #669966;
}

h1,
h1.big,
h1.medium,
h2,
h3,
h4,
h5,
h6,
hr.end,
hr,
p.information,
p.pagenote,
p.toc,
span.info,
span.note,
span.term,
sup.anote,
sup.ednote,
sup.enote {
  color: #003300;
}

hr.base {
  color: #000000;
}

hr.section {
  color: #005500;
}

p.title {
  color: #ffcc00;
}

p.updat {
  color: #ff3300;
}
