@import url("border.css");

body {
  background: #000000;
}

a:link {
  color: #AA0000;
}

a:visited {
  color: #993333;
}

a.title:link {
  color: #FFCC00;
}

a.title:visited {
  color: #CC9900;
}

a.mecw:link {
  color: #888888;
}

a.mecw:visited {
  color: #999999;
}

div.border {
  background: #ffffff;
  border-color: #726E6D;
}

h1,
h1.big,
h1.medium,
h2,
h3,
h4,
h5,
h6,
hr,
hr.section,
hr.end,
p.information,
p.pagenote,
p.toc,
span.info,
span.note,
span.term,
sup.anote,
sup.ednote,
sup.enote {
  color: #000033;
}

hr.base {
  color: #000000;
}

p.title,
p.updat {
 color: #ffcc00;
}
