body { background : white; color: black }
a:link { color: #aa0000; background: transparent }
a:visited { color: #993333; background: transparent }
 A:hover { color: #FF0000; background: transparent; }
 A:active { color: #FF0000; background: transparent; }
 
 
A.mia:link { color: #FF0000; background: transparent; }
  A.mia:visited { color: #FF3300; background: transparent; }
  A.mia:hover { color: #0000FF; background: transparent; }
  A.mia:active { color: #0000FF; background: transparent; }

/* =====================================*/
/* rules, rules, we got rules								*/
/* =====================================*/
hr.section { width: 44%; text-align: center; height: 1px; }
hr.base { width: 92%; text-align: center; height: 1px; }
hr.end { width: 82%; text-align: center; height: 1px; }
hr { width: 88%; text-align: center; height: 1px; }

/* Document Title */
H1 {
 background: transparent;
 color: #330000;
 font-weight: bold;
 line-height: 120%;
 font-size: 32pt; 
 font-family: "Hoefler Text", "Century Schoolbook", "Times New Roman", serif;
 text-align: center; 
 margin-left: 6%;
 margin-right: 6%;
 }

/* Authors' name */
H2 {
 background: transparent;
 color: #330000; 
 font-weight: bold;
 line-height: 120%;
 text-align: center;
 font-family : "Century Schoolbook", "Hoefler Text", "Times New Roman", serif;
 font-size: 20pt; 
 margin-left: 6%;
 margin-right: 6%;
 }

/* Chapter Title + Title date */
H3 {
 background: transparent;
 color: #330000; 
 font-weight: bold;
 line-height: 120%;
 text-align: center;
 font-family : "Century Schoolbook", "Hoefler Text", "Times New Roman", serif;
 font-size: 22pt; 
 margin-left: 6%;
 margin-right: 6%;
 }

/* Section Title */
H4 {
	margin-right:6%;
	margin-left:6%;
 font-weight: bold;
 line-height: 120%;
 font-size: 14pt;
 font-family : "Century Schoolbook", "Hoefler Text", "Times New Roman", serif;
 text-align: center;
 color: #000000;
 background: transparent;
}

/* Sub Section (5) */
H5 {
 background: transparent;
 color: #330000; 
 font-weight: bold;
 text-align: center;
 font-family : "Century Schoolbook", "Hoefler Text", "Times New Roman", serif;
 font-size: 12pt;  
 line-height: 175%;
 margin-left: 6%;
 margin-right: 6%;
 }
 
/* Sub Section 3 */
H6 {
 background: transparent;
 color: #330000; 
 font-weight: bold;
 text-align: left;
 font-family :  "Century Schoolbook", "Hoefler Text", "Times New Roman", serif;
 font-size: 14pt;  
 line-height: 175%;
  line-height: 150%;
 margin-left: 6%;
 margin-right: 6%;
 }

/* Basic p */
p {
 text-indent: 1em;
 font-family: "Georgia", 'Times New Roman', serif;
 font-size: 12pt;
 text-align: justify;
 line-height: 150%;
 margin-left: 6%;
 margin-right: 6%;
 }
 
/* Basic p -- without first line indent */
p.fst {
 text-indent: 0em;
 font-family: "Georgia", 'Times New Roman', serif;
 font-size: 12pt;
 text-align: justify;
 line-height: 150%;
 margin-left: 6%;
 margin-right: 6%;
 }


/* Document Bibliographical Informaiton */
p.information { 
 background: transparent;
 color: #330000; 
 text-indent: 0em; 
 font-size: 11pt; 
 font-family : "Times New Roman", serif;
 line-height: 125%;
 text-align: left;
 margin-right: 8%; 
 margin-left: 8% 
 }



/* Standard Quote */
p.quote { 
 text-indent: .5em;
 font-family: "Georgia", 'Times New Roman', serif;
 font-size: 11pt;
 line-height: 125%;
 text-align: justify;
 margin-left: 12%;
 margin-right: 12%;
}

/* Quote without first line indent */
p.quoteb { 
 text-indent: 0em;
 font-family: "Georgia", 'Times New Roman', serif;
 font-size: 11pt;
 line-height: 125%;
 text-align: justify;
 margin-left: 12%;
 margin-right: 12%;
}

/* Quote in quote without first line indent */
p.quotec { 
 text-indent: 0em;
 font-family: "Georgia", 'Times New Roman', serif;
 font-size: 11pt;
 line-height: 125%;
 text-align: justify;
 margin-left: 16%;
 margin-right: 16%;
}

/* Quote centered */
p.quotecent { 
 text-indent: 0em;
 font-family: "Georgia", 'Times New Roman', serif;
 font-size: 11pt;
 line-height: 125%;
 text-align: center;
 margin-left: 16%;
 margin-right: 16%;
}

/* Quote aligned right */
p.quoter { 
 text-indent: 0em;
 font-family: "Georgia", 'Times New Roman', serif;
 font-size: 11pt;
 line-height: 125%;
 text-align: right;
 margin-left: 12%;
 margin-right: 12%;
}

p.endcredit
 {
 font-size: 11pt;
 text-align: justify;
 text-indent: 0em;
 line-height: 120%;
 background: transparent;
 color: #333333; 
 font-family: "Arial", sans-serif;
 font-weight: normal;
 }
 
 /* Page bottom links */
p.footer {  
 text-indent: 0em; 
 font-weight: bold;
 font-family : "Arial", sans-serif;
 font-size: 12pt; 
 text-align: center; 
 margin: 3%;
 }
 
 /* footnote text */
 p.endnote { color: black;
 font-size: 11pt;
 text-indent: 0em;
 text-align: justify;
 font-family: "georgia", serif;
 line-height: 130%;
 text-indent: 0em;
 margin-right: 8%;
 margin-left: 8% }
 
   /* sub head */
p.sub { 
 color: black;
 font-size: 14pt;
 text-align: center;
 font-family: "New York", serif;
 font-weight: bold;
 line-height: 125%;
 text-indent: 0em;
 margin-right: 6%;
 margin-left: 6% 
 }
 
TD P {
 font-size: 12pt;
 font-family: "Georgia", 'Times New Roman', serif;
 text-indent: 2em;
 text-align: justify;
 line-height: 140%;
 color: #000000;
 background: transparent;
}

OL, UL, LI {
	margin-right: 6%;
	margin-left: 6%;
 font-size: 12pt;
 font-family: "Georgia", 'Times New Roman', serif;
 text-indent: 0em;
 text-align: justify;
 line-height: 140%;
 color: #000000;
 background: transparent;
}

HR {
 color: #FF0000;
 background: transparent;
}

HR.infotop {
 color: #FF0000;
 background: transparent;
 margin-top: 1em;
 margin-bottom: 0.3em;
}

HR.infobot {
 color: #FF0000;
 background: transparent;
 margin-top: 0.3em;
 margin-bottom: 1em;
}

.link  {
 text-align: center;
 text-indent: 0;
 font-size: 11pt;
 font-weight: bold;
}

.toplink  {
 text-align: left;
 text-indent: 0;
 font-size: 9pt;
 font-weight: bold;
 margin-top: 0pt;
 margin-bottom: 2em;
}

.updat {
 text-align: right;
 font-size: 9pt;
 font-weight: normal;
 margin-top: 0pt;
 margin-right: 6%;
}

.bild {
 font-size: 10pt;
 text-indent: 0;
 font-weight: bold;
 text-align: left;
 margin-top: 0;
}

/* Used in the info block */
span.info {
 background: transparent;
 color: #330000; 
 font-family: "Arial", sans-serif;
 font-size: 11pt;
 font-weight: bold;
}

.info  {
 font-size: 10pt;
 font-weight: normal;
 text-indent: 0;
 margin-top: 0.3em;
 margin-bottom: 0.3em;
 line-height: 130%;
}

/* indiscreet text (primarily for dates) */
span.date {
 background: transparent;
 color: #333333;
 font-family: "Arial", sans-serif;
 font-size: small;
 font-weight: normal;
 }

.author {
 text-align: right;
 font-weight: bold;
 font-style: italic;
 margin-right: 10%;
}

.c    {
 text-align: center;
 text-indent: 0;
}

.cr    {
 text-align: center;
 text-indent: 0;
 color: #FF0000;
 background: transparent;
}

.note {
 font-size: 11pt;
 text-align:justify;
 text-indent: 0;
 margin-bottom: 0;
}

.fst {
 text-indent: 0;
}

.date {
 text-align: right;
 text-indent: 0;
}

.sm {
 font-size: 10pt;
 text-align: left;
 text-indent: 0;
 margin-left: 0;
 margin-right: 0;
 margin-bottom: 0;
}

.smc {
 font-size: 10pt;
 text-align: center;
 text-indent: 0;
 margin-left: 0;
 margin-right: 0;
 margin-bottom: 0;
}

.sm1 {
 font-size: 10pt;
 text-align: justify;
 text-indent: 0;
 margin-left: 0;
 margin-right: 0;
 margin-bottom:0;
}

.smr {
 font-size: 10pt;
 text-align: right;
 text-indent: 0;
 margin-left: 0;
 margin-right: 0;
 margin-bottom:0;
}

/* =====================================*/
/* Adjustments for Mobile Devices       */
/* =====================================*/

@media (max-width: 480px) {
  p { font-size: 12pt; margin-left: 1%; margin-right: 1%; margin-bottom: 4pt; margin-top: 4pt; line-height: 125%; }
  p.indentb { margin-left: 6%; margin-right: 1%; }
  p.quoteb { margin-left: 6%; margin-right: 1%; }
  p.index { margin-left: 6%; margin-right: 1%; }
  h1 { font-size: 18pt; margin-left: 1%; margin-right: 1%; }
  h2 { font-size: 16pt; margin-left: 1%; margin-right: 1%; }
  h3 { font-size: 14pt; margin-left: 1%; margin-right: 1%; }
  h4 { font-size: 13pt; }
  h5 { margin-left: 1%; }
  h6 { margin-left: 1%; }
  img { width: 150px; height: auto; }
  blockquote {margin-left: 1%; }
}
