@import url("works.css");

a:link {
  color: #cc6600;
}

a:visited {
  color: #993300;
}

div.border {
  border: #000088;
}

h1,
h1.big,
h1.medium,
h2 {
  color: #000033;
}

h3 {
  color: #000044;
}

h4,
h5,
h6 {
  color: #000055;
}

p.information,
p.pagenote,
p.toc,
span.info,
span.term,
sup.anote,
sup.ednote,
sup.enote {
  color: #993300;
}
