
body { background : #000066 }
a:link { color: #000099; background : transparent }
a:visited { color: #333399; background : transparent }

img.center { text-align: center }
img.right { text-align: right; margin-left: 4% }
img.left { text-align: left; margin-left: 4% }

hr.end { width: 96%; height: 2px; }
hr.section { width: 44%; height: 2px; }

p {
 color: black; 
 text-indent: 0em;
 font-family : "Times New Roman", serif;
 font-size: 12pt;
 font-weight: normal;
 text-align: justify;
 line-height: 125%;
 margin-left: 52px;
 margin-right: 36px;
}
 

/* =====================================*/
/* Document Headers					    */
/* =====================================*/

H1 { 
 color: #000033;
 font-weight: bold; 
 font-size: 28pt; 
 font-family: "Century Schoolbook", "Hoefler Text", "Times New Roman", serif;
 text-align: center; 
 }
 
H2 { 
 color: #000033;
 font-weight: bold; 
 font-size: 20pt; 
 font-family: "Century Schoolbook", "Hoefler Text", "Times New Roman", serif;
 text-align: center; 
 }
 
H3 { 
 color: #000033;
 font-weight: normal; 
 font-size: 24pt; 
 font-family: "Century Schoolbook", "Hoefler Text", "Times New Roman", serif;
 text-align: center; 
 }
 
H4 { 
 color: #000033;
 font-weight: bold; 
 font-size: 12pt; 
 font-family: "Arial", sans-serif;
 text-align: left; 
 margin-left: 36px;
 margin-right: 36px;
 }
 
 
/* =====================================*/
/* Spanners							    */
/* =====================================*/

span.book {
 color: #000066;
 font-family: "Helvetica", "Arial", sans-serif;
 font-size: 12pt;
 font-weight: bold;
 }
 
span.date {
 color: #444444;
 font-family: "Helvetica", "Arial", "Geneva", sans-serif;
 font-size: 10pt;
 }

/*Greek text */
span.greek { font-family: symbol }

/* =====================================*/
/* Paragraphs							*/
/* =====================================*/

/*----------------------------------*/
/* Index elements 					*/
/*----------------------------------*/

/* Contents heading */
p.toc {
 color: #000033; 
 text-indent: 0em;
 font-weight: bold;
 font-family : "Arial", sans-serif;
 font-size: 14pt;
 line-height: 120%;
 text-align: left;
 margin-left: 28px;
}

/* single document list */
p.index  {
 color: black; 
 text-indent: 0em;
 font-family : "Times New Roman", serif;
 font-size: 12pt;
 font-weight: normal;
 text-align: left;
 line-height: 150%;
 margin-left: 36px;
}

/* The following are used in Tables */
p.indexb {
 text-align: left;
 color: #444444;
 font-family: "Times New Roman", serif;
 font-size: 11pt;
 margin-left: 2em;
 }

p.indexc {
 text-align: justify;
 color: #444444;
 font-family: "Times New Roman", serif;
 font-size: 10pt;
 margin-left: 4em;
 }

p.indexd {
 text-align: left;
 color: #666666;
 font-family: "Arial Narrow", sans-serif;
 font-size: 9pt;
 margin-left: 6em;
 }

/* book list with description underneath */
/* primarily used with a p.note to follow */
p.index-list {
 color: #000033; 
 text-indent: 0em;
 font-family : "Arial", sans-serif;
 font-size: 12pt;
 font-weight: bold;
 text-align: left;
 line-height: 90%;
 margin-left: 36px;
}

/*----------------------------------*/
/* Table (index-type) elements      */
/*----------------------------------*/

td.index  {
 color: black; 
 text-indent: 0em;
 font-family : "Times New Roman", serif;
 font-size: 12pt;
 font-weight: normal;
 text-align: left;
}

tr.shade  {
 background: #efefef;
}

/*For file size or book page number:*/
td.size {
 color: #000066; 
 text-indent: 0em;
 font-family : "Times New Roman", serif;
 font-size: 12pt;
 font-weight: normal;
 text-align: right;
}

/*----------------------------------*/
/* Standard elements                */
/*----------------------------------*/
 
/* Page header, outside the Table */
p.title { 
 color: white; 
 text-indent: 0em; 
 font-weight: bold;
 font-family : "Arial", sans-serif;
 font-size: 12pt; 
 text-align: left; 
 margin-left: 28px;
 line-height: 100%;
 }
 
/* Description of an index-list */
p.note {
 color: #000033; 
 text-indent: 0em;
 font-family : "Arial", "Geneva", "Courier", sans-serif;
 font-size: 10pt;
 font-weight: normal;
 text-align: justify;
 line-height: 125%;
 margin-left: 48px;
 margin-right: 48px;
}

p.pagenote {
 background: transparent;
 color: #666666; 
 font-family : "Arial", "Geneva", "Courier", sans-serif;
 font-size: 10pt;
 text-align: center;
 line-height: 115%;
 margin-left: 10%;
 margin-right: 10%;
 }
 
p.pagenoteb {
 background: transparent;
 color: #666666; 
 font-family : "Arial", "Geneva", "Courier", sans-serif;
 font-size: 10pt;
 text-align: justify;
 line-height: 115%;
 margin-left: 10%;
 margin-right: 10%;
 }

p.skip
 { line-height: 50% }

p.footer { 
 color: black; 
 text-indent: 0em; 
 font-weight: bold;
 font-family : "Arial", sans-serif;
 font-size: 12pt; 
 text-align: center; 
 line-height: 150%;
 }
 
/* =====================================*/
/* =====================================*/
/* Adjustments for Mobile Devices       */
/* =====================================*/

@media (max-width: 480px) {
  p { font-size: 12pt; margin-left: 1%; margin-right: 1%; margin-bottom: 4pt; margin-top: 4pt; line-height: 125%; }
  p.indentb { margin-left: 6%; margin-right: 1%; }
  p.quoteb { margin-left: 6%; margin-right: 1%; }
  p.index { margin-left: 6%; margin-right: 1%; }
  h1 { font-size: 18pt; margin-left: 1%; margin-right: 1%; }
  h2 { font-size: 16pt; margin-left: 1%; margin-right: 1%; }
  h3 { font-size: 14pt; margin-left: 1%; margin-right: 1%; }
  h4 { font-size: 13pt; }
  h5 { margin-left: 1%; }
  h6 { margin-left: 1%; }
  img { width: 150px; height: auto; }
  img.auto {width: auto ; height: auto; }
  blockquote {margin-left: 1%; }
}
