@import url("works.css");

body {
  background: #660000;
}

a:link {
  color: #aa0000;
}

a:visited {
  color: #993333;
}

a.title:link {
  color: #ffcc00;
  text-decoration: none;
}

a.title:visited {
  color: #cc9900;
  text-decoration: none;
}

div.border {
  border-style: double;
  background: #ffffff;
  width: 85%;
  border: 0.5em solid #ffcc33;
}

h1,
h2,
h3,
h4,
h5,
h6,
sup.anote,
sup.ednote,
span.info,
span.term,
p.information,
p.pagenote,
p.toc {
  color: #660000;
}

hr.section {
  width: 44%;
  text-align: center;
  height: 4px;
}

hr.span {
  width: 100%;
  color: #ffcc33;
  text-align: center;
  height: 3px;
}

hr.end {
  height: 2px;
}

hr {
  width: 97%;
  height: 2px;
}

img.center {
  text-align: center;
}

td.index {
  color: #440000;
}

td.note {
  color: #444466;
}

p.title {
  color: #ffcc00;
}

tr.total {
  background: #ffcccc;
}

tr.totalb {
  background: #ff9999;
}
