@import url("works.css");

a:link {
  color: #990099;
}

a:visited {
  color: #773377;
}

div.border {
  border: #000088;
}

h1,
h1.big,
h1.medium {
  color: #000033;
}

h2 {
  color: #440044;
}

h3 {
  color: #550055;
}
h4,
h5,
h6 {
  color: #330033;
}

p.information,
p.toc,
span.info,
span.term,
sup.anote,
sup.ednote {
  color: #660066;
}

p.pagenote {
  color: #6600660;
}

sup.enote {
  color: #003300;
}
